/**
 * Gallery 3 Wind Theme Screen Styles
 *
 * @requires YUI reset, font, grids CSS
 *
 * Sheet organization:
 *   1)  Font sizes, base HTML elements
 *   2)  Reusable content blocks
 *   3)  Page layout containers
 *   4)  Content blocks in specific layout containers
 *   5)  States and interactions
 *   6)  Positioning and order
 *   7)  Navigation and menus
 *   8)  jQuery and jQuery UI
 */

/** *******************************************************************
 *  1) Font sizes, base HTML elements
 **********************************************************************/

#g-dialog h1 {
	font-size: 1.1em;
}

#g-sidebar .g-block h2 {
	font-size: 1em;
}

#g-sidebar .g-block li {
}

ul li {
	list-style-type: none;
}

.context-menu-dropdown {
	margin: .5em 0 0 0;
	text-align: $default-float;

	.button {
		width: 100%;
		margin: 0;
	}

	ul {
		// font-size: .9285em;
	}
}

/* Links ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// a:hover {
// 	text-decoration: underline;
// }

// .g-paginator a:hover,
// .top-bar a:hover,
// .g-menu a:hover {
// 	text-decoration: none;
// }

/* Lists ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

ul.g-text li,
.g-text ul li {
	list-style-type: disc;
}

ol.g-text li,
.g-text ol li {
	list-style-type: decimal;
}

.g-text li,
.g-text li {
	margin-left: 1em;
}

/* Forms ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

form {
	margin: 0;
}

/* Form layout ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

form li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

form ul {
	margin: 0;
}

// form ul ul {
// 	clear: both;
// }

// form ul ul li {
// 	float: left;
// 	@todo: this was just for edit album - solve different
// 	margin-right: .75em;
// }

fieldset legend {
	color: $primary-color;

	&:empty { display: none; }
}

textarea {
	min-height: 8em;
	resize: vertical;
}

/* Forms in dialogs and panels ~~~~~~~~~ */

#g-login-form,
#g-add-user-form
#g-edit-user-form,
#g-delete-user-form,
#g-user-admin,
#g-dialog form {
	width: auto;
}

#g-dialog form > fieldset,
#g-panel form > fieldset {
	&:last-of-type {
		margin-bottom: 0;
	}
}

#g-dialog legend,
#g-panel legend {
	display: none;
	// margin: 0 0 1em 0;
	// padding: 0;
	// color: $primary-color;
}

/* Short forms ~~~~~~~~~~~~~~~~~~~~~~~ */

.g-short-form legend,
.g-short-form label {
	display: none;
}

.g-short-form fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.g-short-form .textbox.g-error {
	border: 2px solid $alert-color;
	color: $alert-color;
}

// .g-short-form .g-cancel {
// 	display: block;
// 	margin: 0em .8em;
// 	padding: .3em .6em;
// }

#g-sidebar .g-short-form .textbox {
	width: 100%;
}

/* Tables ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#g-content table {
	margin: 1em 0;
}

caption,
th {
	text-align: left;
}

/* Text ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.g-text-small {
	font-size: .8em;
}

.g-text-big {
	font-size: 1.2em;
}

.g-text-right {
	text-align: $opposite-direction;
}

/** *******************************************************************
 *  2) Reusable content blocks
 *********************************************************************/

.g-block h2 {
}

.g-block-content {
}

/** *******************************************************************
 *  3) Page layout containers
 *********************************************************************/

/* Dimension and scale ~~~~~~~~~~~~~~~~~~~ */

.g-one-quarter {
	width: 25%;
}

.g-one-third {
	width: 33%;
}

.g-one-half {
	width: 50%;
}

.g-two-thirds {
	width: 66%;
}

.g-three-quarters {
	width: 75%;
}

.g-whole {
	width: 100%;
}

/* Layout containers ~~~~~~~~~~~~~~~~~~~~~ */

#g-header {
}

#g-banner {
}

#g-content {
}

#g-sidebar {
}

#g-photo {
	margin-bottom: emCalc(20);
}

#g-footer p,
#g-footer ul {
	font-size: 0.8125em;
}

/** *******************************************************************
 *  4) Content blocks in specific layout containers
 *********************************************************************/

/* Header ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#g-banner #g-quick-search-form {
	clear: right;
	float: right;
	margin-top: 1em;
}

#g-banner #g-quick-search-form input[type='text'] {
	width: 17em;
}

#g-content .g-block h2 {
}

/* Sidebar ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#g-sidebar .g-block-content {
	font-size: emCalc(13);
}

#g-sidebar #g-image-block {
	overflow: hidden;
}

/* Album content ~~~~~~~~~~~~~~~~~~~~~~~~~ */

#g-album-grid {
	margin-top: 1em;
	margin-bottom: 1em;
}

#g-album-grid .g-item img {
	width: 100%;
}

#g-album-grid .g-item a.th {
	position: relative;
	width: 100%;
	text-align: center;

	&:hover .g-caption {
		opacity: 1;
		max-height: 50%;
	}
}

#g-album-grid .g-caption {
	position: absolute;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
	padding: 0 .5em;
	color: $orbit-caption-font-color;
	background: $orbit-caption-bg;
	opacity: 0;
	max-height: 0;
	-webkit-transition: opacity .3s, max-height .3s linear;
			transition: opacity .3s, max-height .3s linear;
}

#g-album-grid .g-item h2 {
	top: 0;
	font-size: 1em;
	font-weight: normal;

	span {
		display: block;
		padding: .375em 0;
	}
}

#g-album-grid .g-album h2 {
	opacity: 1;
	max-height: none;
}

#g-album-grid .g-item .g-metadata {
	bottom: 0;
	font-size: .75em;

	li:first-child { padding-top: .5em; }
	li:last-child { padding-bottom: .5em; }
}

#g-album-grid .g-album {
}

#g-album-grid .g-album span.g-album {
	&:before {
		content: "\2637";
		margin-#{$opposite-direction}: .5em;
	}
}

/* Search results ~~~~~~~~~~~~~~~~~~~~~~~~ */

#g-content #g-search-results {
	margin-top: 1em;
	padding-top: 1em;
}

/* Individual photo content ~~~~~~~~~~~~~~ */

#g-info {
	h1 {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

#g-item {
	position: relative;
	width: 100%;
}

#g-item img.g-resize,
#g-item .g-movie {
	display: block;
	margin: 0 auto;
}

/* Footer content ~~~~~~~~~~~~~~~~~~~~~~~~ */

#g-footer #g-credits li {
	list-style-type: none;
}

/* In-line editing ~~~~~~~~~~~~~~~~~~~~~~ */

#g-in-place-edit-message {
	background-color: #fff;
}

/* Permissions ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#g-permissions table {
	width: 100%;
	margin-bottom: 0;
}

#g-permissions fieldset {
	margin: 0;
	border: 0;
	padding: 0;
}

#g-permissions .g-denied {
	background-color: lighten($alert-color, 50%);
}

#g-permissions .g-allowed {
	background-color: lighten($success-color, 50%);
}

#g-permissions .g-breadcrumbs a {
	color: $sub-nav-font-color;
	text-decoration: $sub-nav-text-decoration;
}

#g-permissions .g-active a {
	@include radius($sub-nav-border-radius);
	font-weight: $sub-nav-active-font-weight;
	background: $sub-nav-active-bg;
	padding: $sub-nav-active-padding;
	cursor: $sub-nav-active-cursor;
	color: $sub-nav-active-color;
}

/** *******************************************************************
 *  5) States and interactions
 **********************************************************************/

.fadeIn {
	-webkit-animation: fadeIn 1.5s ease .25s both;
			animation: fadeIn 1.5s ease .25s both;
}

.fadeOut {
	-webkit-animation-name: fadeOut, remove;
			animation-name: fadeOut, remove;
	-webkit-animation-duration: 2s, .5s;
			animation-duration: 2s, .5s;
	-webkit-animation-timing-function: ease;
			animation-timing-function: ease;
	-webkit-animation-delay: 0, 2s;
			animation-delay: 0, 2s;
	-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@-webkit-keyframes remove {
	0% {  }
	100% { -webkit-transform: scale(0); }
}

@keyframes remove {
	0% {  }
	100% { transform: scale(0); }
}

.g-active,
.g-enabled,
.g-available,
.g-selected,
.g-highlight {
	font-weight: bold;
}

.g-inactive,
.g-disabled,
.g-unavailable,
.g-uneditable,
.g-locked,
.g-deselected,
.g-understate {
	color: #ccc;
	font-weight: normal;
}

.g-editable {
	padding: .2em .3em;
}

.g-editable:hover {
	background-color: #ffc;
	cursor: text;
}

// .g-error {
// 	color: $alert-color;
// }

.g-error,
.g-info,
.g-success,
.g-warning {
	@include alert;
	margin-bottom: emCalc(6);

	&:before {
		@include alert-message-icon();
	}
}

// .g-error input,
// .g-error textarea,
// .g-error select {
// 	border: 2px solid $alert-color;
// 	margin-bottom: .25em;
// }

// p.g-error {
// 	font-size: $alert-font-size;

// 	&:before {
// 		content: "!";
// 		@include alert-message-icon();
// 	}
// }

.g-error {
	@include alert-style-extended($alert-color);
	&:before {
		content: "!"; // 2718 26D4
	}

}
.error small.error {
	margin-top: 0; // override foundation
}

.g-info {
	@include alert-style-extended($secondary-color);
	&:before {
		content: "\24d8";
	}
}

.g-success {
	@include alert-style-extended($success-color);
	&:before {
		content: "\2713"; // 2714
	}
}

.g-warning {
	@include alert-style-extended($primary-color);
	&:before {
		content: "\26A0";
		font-size: 1.5em;
	}
}

td.g-error {
	&:before { color: $alert-color; }
}

td.g-success {
	&:before { color: $success-color; }
}

td.g-warning {
	&:before { color: $primary-color; }
}

.g-open {
}

.g-closed {
}

.g-installed {
	background-color: #eeeeee;
}

.g-default {
	background-color: #c5dbec;
	font-weight: bold;
}

.g-draggable {
	cursor: move;
}

.g-draggable:hover {
	border: 1px dashed #000;
}

.ui-sortable .g-target,
.ui-state-highlight {
	background-color: #fcf9ce;
	border: 2px dotted #999;
	height: 2em;
	margin: 1em 0;
}

/* Ajax loading indicator ~~~~~~~~~~~~~~~~ */

.g-loading-large,
.g-dialog-loading-large {
	background: #e8e8e8 url('../images/loading-large.gif') no-repeat center center !important;
}

.g-loading-small {
	background: #e8e8e8 url('../images/loading-small.gif') no-repeat center center !important;
}

/** *******************************************************************
 *  6) Positioning and order
 **********************************************************************/

.g-left {
	clear: none;
	float: $default-float;
}

.g-right {
	clear: none;
	float: $opposite-direction;
}

.g-first {
}

.g-last {
}

.g-even {
	background-color: #fff;
}

.g-odd {
	background-color: #eee;
}

/** *******************************************************************
 *  7) Navigation and menus
 *********************************************************************/

/* Context Menu ~~~~~~~~~~~~~~~~~~~~~~~~~ */

.g-context-menu {
	background-color: #fff;
	bottom: 0;
	left: 0;
	position: absolute;
}

.g-item .g-context-menu {
	display: none;
	margin-top: 2em;
	width: 100%;
}

#g-item .g-context-menu ul {
	display: none;
}

.g-context-menu li {
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.g-context-menu li a {
	display: block;
	line-height: 1.6em;
}

/* View Menu ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#g-view-menu {
}

#g-view-menu a {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: auto 1.5em;
	overflow: hidden;
	text-indent: -99999px;
	display: block;
}

#g-view-menu #g-slideshow-link {
	background-image: url('../images/ico-view-slideshow.png');
}

#g-view-menu .g-fullsize-link {
	background-image: url('../images/ico-view-fullsize.png');
}

#g-view-menu #g-comments-link {
	background-image: url('../images/ico-view-comments.png');
}

#g-view-menu #g-print-digibug-link {
	background-image: url('../images/ico-print.png');
}

/** *******************************************************************
 *  8) jQuery and jQuery UI
 *********************************************************************/

/* Generic block container ~~~~~~~~~~~~~~~ */

.g-block {
		clear: both;
		border-style: $panel-border-style;
		border-width: $panel-border-size;
		border-color: darken($panel-bg, $panel-function-factor);
		margin-bottom: $panel-margin-bottom;
		padding: $panel-padding;
		background: $panel-bg;

		// Respect the padding, fool.
		&>:first-child { margin-top: 0; }
		&>:last-child { margin-bottom: 0; }
}

.g-block-content {
		// Respect the padding, fool.
		&>:first-child { margin-top: 0; }
		&>:last-child { margin-bottom: 0; }
}

/* jQuery UI Dialog ~~~~~~~~~~~~~~~~~~~~~~ */

.ui-widget-overlay {
	background: #000;
	opacity: .7;
}

/* Buttons ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

input.submit,
button,
.g-button {
	@include button($button-sml, $primary-color, $global-radius);
	@include single-transition();
	@include inset-shadow();
	cursor: pointer;
	// outline: 0;
	// -moz-outline-style: none;
	line-height: normal;
}

/* jQuery UI ThemeRoller buttons ~~~~~~~~~ */

.g-buttonset {
	padding-left: 1px;
}

.g-buttonset li {
	float: left;
}

.g-buttonset .g-button {
	margin: 0;
}

.ui-icon-left .ui-icon {
	float: left;
	margin-right: .2em;
}

.ui-icon-right .ui-icon {
	float: right;
	margin-left: .2em;
}

/* Rotate icon, ThemeRoller only provides one of these */

.ui-icon-pencil {
	&:before {
		content: "\270E";
	}
}

.ui-icon-rotate-ccw {
	&:before {
		content: "\21BA";
	}
}

.ui-icon-rotate-cw {
	&:before {
		content: "\21BB";
	}
}

.ui-icon-star {
	&:before {
		content: "\2605";
	}
}

.ui-icon-trash {
	&:before {
		content: "\2715";
	}
}

.ui-icon-folder-open {
	&:before {
		content: "\21B6";
	}
}

.ui-icon-seek-first {
	&:before {
		content: $arrow-first;
		margin-#{$opposite-direction}: .375em;
	}
}

.ui-icon-seek-prev {
	&:before {
		content: $arrow-prev;
		margin-#{$opposite-direction}: .375em;
	}
}

.ui-icon-seek-next {
	&:after {
		content: $arrow-next;
		margin-#{$default-float}: .375em;
	}
}

.ui-icon-seek-end {
	&:after {
		content: $arrow-last;
		margin-#{$default-float}: .375em;
	}
}

.g-progress-bar,
.ui-progressbar {
	@include progress-container;
	@include radius();
}
.ui-progressbar .ui-progressbar-value {
	@include progress-meter();
	@include radius();
	margin: 0;
}
.ui-progressbar .ui-progressbar-overlay {
}
.ui-progressbar-indeterminate .ui-progressbar-value {
}


/* Status and validation messages ~~~~ */

#g-site-status {
	margin: 0;
}

#g-site-status,
.g-message-block {
	padding: 0;
	line-height: inherit;

	.close { @include alert-close; }
}

#g-action-status {
	margin-bottom: 1em;
}

// .g-module-status {
// 	clear: both;
// 	margin-bottom: 1em;

// 	.close { @include alert-close; }
// }

.g-message {
}

/* Breadcrumbs ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.g-breadcrumbs {
	@include crumb-container;
	margin-bottom: emCalc(20);
}

.g-breadcrumbs li {
	@include crumbs;
}

/* Pagination ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.g-paginator {
}

.g-paginator .g-pagination-text {
	padding-top: emCalc(7);
	padding-bottom: emCalc(8);
	text-align: center;
	line-height: normal;
}

/* Dialogs and panels ~~~~~~~~~~~~~~~~~~ */

.ui-dialog {
	outline: 0;
}
.ui-dialog .ui-dialog-titlebar {
	font-size: inherit;
	line-height: 1.1;
	// position: relative;
}
.ui-dialog .ui-dialog-title {
	float: left;
	white-space: nowrap;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	color: $primary-color;
	font-weight: bold;
}
.ui-dialog .ui-dialog-titlebar-close {
}
.ui-dialog .ui-dialog-content {
	// position: relative;
	// overflow: auto;
}

.ui-helper-clearfix {
	@include clearfix();
}

#g-dialog ul {
//	margin: 0;
// not specific enough, see permissions
}

#g-dialog .g-cancel {
	@include button-style($bg:$secondary-color);
	line-height: normal;
}

#g-dialog button,
#g-dialog input.submit,
#g-dialog .g-cancel {
	margin-bottom: 0;
}

#g-panel {
	display: none;
	padding: 1em;
}

// this is for file upload?
#g-dialog #g-action-status {
	margin: 0;

	li {
		margin-bottom: 1px;
		opacity: 1;
	}
}

/* Inline layout ~~~~~~~~~~ */

.g-inline li {
	float: left;
	margin-left: 1.8em;
	padding-left: 0 !important;
}

.g-inline li.g-first {
	margin-left: 0;
}

/* Override Gallery CSS ~~~~~~~~~~~~~~~~~~ */

#g-action-status li {
	opacity: 0;

	-webkit-transition-property: opacity, -webkit-transform;
			transition-property: opacity, transform;
	-webkit-transition-duration: .5s;
			transition-duration: .5s;
	-webkit-transition-delay: .1s;
			transition-delay: .1s;

	&.visible {
		opacity: 1;

		-webkit-transition-duration: 2s;
				transition-duration: 2s;
	}
}

#g-add-photos-form p {
	margin-bottom: .5em;
}

#g-add-photos-canvas,
#g-add-photos-status {
	border: $input-border-width $input-border-style $input-border-color;
	width: auto;
}

#g-add-photos-canvas object,
#g-add-photos-button {
	left: 50%;
	position: absolute;
	top: .5em;
	width: 300px;
	margin-left: -150px;
}

#g-add-photos-status #g-action-status li {
	width: auto;
	float: none;
	padding-top: $alert-padding-top;
}

#g-user-profile h1 {
	margin-top: $header-top-margin;
	margin-bottom: $header-bottom-margin;
}

.g-avatar {
	overflow: hidden;
	font-size: 1rem;
	font-weight: normal;
}

@for $i from -4 through 3 {
	@if $i < 0 {
		#g-tag-cloud ul li.size#{$i+4} a {
			color: lighten($primary-color, 0% - ($i * 8%));
		}
	} @else if $i > 0 {
		#g-tag-cloud ul li.size#{$i+4} a {
			color: darken($primary-color, 0% + ($i * 8%));
		}
	} @else {
		#g-tag-cloud ul li.size#{$i+4} a {
			color: $primary-color;
		}
	}
}

#g-tag-cloud ul li a:hover {
	color: $anchor-font-color-hover;
	text-decoration: none;
}

#g-add-photos-form .g-breadcrumbs {
	margin-bottom: emCalc(20);
}

#g-add-comment {
	#{$default-float}: auto;
	#{$opposite-direction}: $panel-padding;
	top: $panel-padding;
}

