// This includes all of the foundation global elements that are needed to work with any of the other files.
@import "foundation/variables";

// We use these to control text direction settings
$text-direction: ltr !default;

// text direction variables
$arrow-first: "\21E4";
$arrow-prev:  "\2190";
$arrow-next:  "\2192";
$arrow-last:  "\21E5";

@if $text-direction == rtl {
	$arrow-first: "\21E5";
	$arrow-prev:  "\2192";
	$arrow-next:  "\2190";
	$arrow-last:  "\21E4";
}

// theme config
$primary-color: #2ba6cb;
$topbar-margin-bottom: 0;
$f-dropdown-list-hover-color: #fff;
$f-dropdown-list-hover-bg: $primary-color;
// $reveal-close-top: emCalc(7);
$alert-close-position: emCalc(7);
$legend-bg: transparent;
$tooltip-bg: rgba(#000, .6);
$tooltip-font-size: emCalc(13);
$tooltip-font-weight: normal;


// $topbar-bg: $primary-color;
// $topbar-dropdown-bg: lighten($topbar-bg, 10%);
// $topbar-dropdown-link-color: $primary-color;
// $topbar-dropdown-link-bg: #fff;
$topbar-menu-link-color: #fff;
$topbar-menu-icon-color: #fff;
$topbar-menu-link-color-toggled: rgba($topbar-menu-link-color, .5);
$topbar-menu-icon-color-toggled: rgba($topbar-menu-icon-color, .5);


// Control whether or not CSS classes come through in the CSS files.
$include-html-classes: true;
$include-print-styles: true;
// $include-html-global-classes: false;
$include-html-inline-list-classes: false;
// $include-html-type-classes: false;
// $include-html-grid-classes: false;
// $include-html-visibility-classes: false;
// $include-html-button-classes: false;
// $include-html-form-classes: false;
$include-html-custom-form-classes: false;
// $include-html-media-classes: false; // flex-video, progress-bar, thumbs
$include-html-section-classes: false;
$include-html-orbit-classes: false;
// $include-html-reveal-classes: false;
$include-html-joyride-classes: false;
$include-html-clearing-classes: false;
// $include-html-alert-classes: false;
$include-html-nav-classes: false; // sub-nav, side-nav, pagination, breadcrumbs
// $include-html-top-bar-classes: false;
$include-html-label-classes: false;
$include-html-panel-classes: false;
$include-html-pricing-classes: false;
$include-html-progress-classes: false;
$include-html-magellan-classes: false;
// $include-html-tooltip-classes: false;


// Foundation Framework
@import "foundation";

// fix topbar item direction
.top-bar .left { float: $default-float !important; }
.top-bar .right { float: $opposite-direction !important; }

// extend dropdown hover styles
.f-dropdown {
	li a {
		text-indent: -0.8571em;
		padding-#{$default-float}: 0.8571em + nth($f-dropdown-list-padding, 2);

		&:hover,
		&:focus { color: $f-dropdown-list-hover-color; }
	}
}

// fix for reveal
.top-bar-section {
	.dropdown {
		z-index: 98;
	}
}


$topbar-divider-border-top-color: nth($topbar-divider-border-top, 3);
$topbar-divider-border-bottom-color: nth($topbar-divider-border-bottom, 3);

.top-bar-section ul {
	@if $experimental {
		-webkit-box-shadow: 0 -1px 0 0 $topbar-divider-border-top-color;
	}
	box-shadow: 0 -1px 0 0 $topbar-divider-border-top-color;
	border-top: $topbar-divider-border-bottom;
	margin-top: 1px;

	li {
		border-top: $topbar-divider-border-bottom;
		border-bottom: $topbar-divider-border-top;

		&:first-child {
			border-top: none;
		}
		&:last-child {
			border-bottom: none;
		}
	}
}

// Top Bar styles intended for screen sizes above the breakpoint.
@media #{$topbar-media-query} {
	.top-bar-section > ul {
		@if $experimental {
			-webkit-box-shadow: 1px 0 0 0 $topbar-divider-border-bottom-color;
		}
		box-shadow: 1px 0 0 0 $topbar-divider-border-bottom-color;
		border-top: none;
		border-#{$opposite-direction}: $topbar-divider-border-top;
		margin-top: 0;

		& > li {
			border-top: none;
			border-bottom: none;
			border-#{$default-float}: $topbar-divider-border-bottom;

			@if $experimental {
				-webkit-box-shadow: -1px 0 0 0 $topbar-divider-border-top-color;
			}
			box-shadow: -1px 0 0 0 $topbar-divider-border-top-color;
		}
	}

	.top-bar-section ul {
		border-top: none;
		margin-top: 0;

		li {
			border-top: none;
			border-bottom: none;
		}

		ul {
			box-shadow: none;
		}
	}
}

// extent button-group
.button-group.even-1 li {
	@include button-group-style($even:1, $float:null);
}


// set custom modal sizes
@media #{$small} {
	.#{$reveal-modal-class} {
		&.tiny  { @include reveal-modal-base(false, 30%); }
		&.small { @include reveal-modal-base(false, 300px); }
		&.medium  { @include reveal-modal-base(false, 500px); }
		&.large { @include reveal-modal-base(false, 70%); }
		&.xlarge { @include reveal-modal-base(false, 95%); }
	}
}


// Custom mixins
@import "mixins";

// UI styles
@import "ui.base";

// Theme styles
@import "styles";
